<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenStay</title>
    <script src="../../static/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="../../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../../static/bower_components/d3/d3.min.js"></script>


    <link rel="stylesheet" href="../../static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="../../static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../../static/bower_components/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="../../static/bower_components/font-awesome/css/font-awesome.min.css">
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">OpenStay</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                {% if user.is_authenticated %}
                    <li><a href="/hackathon/landing">welcome</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                    <li class="active"><a href="/hackathon/register">Register <span class="sr-only">(current)</span></a>
                    </li>
                    <li><a href="/hackathon/login">Login</a></li>
                {% endif %}
            </ul>

            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>


            <div class='input-group date' id='datetimepicker6'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class='input-group date' id='datetimepicker7'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
                <script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker();
        $('#datetimepicker7').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
           <button type="submit" class="btn btn-default">Submit</button>

            </form>


            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="/hackathon/userpage/">Hello {{ user }}</a></li>
                    <li><a href="/hackathon/logout/">Logout</a></li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/hackathon/about/">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/hackathon/host/">Become a host</a></li>
            </ul>


            </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>