<!DOCTYPE html>
<html>
{% extends 'hackathon/base.html' %} {% include 'hackathon/base.html' %} {% load static %} {% block content %}
<div class="container-fluid">
	<h1>Find your host!</h1>
	<br/>
</div>
<div style="background-color: #fbfbfc">
	<div class="container-fluid">
		<br>
		<div class="row">
			<div class="col-sm-2 col-md-2">
				1 2 3 4 5
			</div>
			<div class="col-sm-6 col-md-6">
				{% for u in results %}
				<div class="panel panel-default">
					<a href='/hackathon/userpage/'> 
					<div class="panel-body">
						<p>{{u.username}}</p>
						{{u.email}}
					</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

</html>
